<% provide(:title,"Book") %>
<h1><%= @author.name %></h1>

<main class="main">
  <div class="container">
    <div class="row">
      <div id="ct100_divCenter" class="center-side col-md-8">
        <%= render "list_book_of_author"%>
      </div>
      <div id="ct100_divRight" class="right-side col-md-4 cmszone">
        <div class="box darkBox genres hidden-sm hidden-xs Module Module-179">
          <div class="author">
            <div class="lead"> About me </div>
            <div class="avatar">
              <% if @author.avatar.attached? %>
                <%= image_tag(@author.avatar, class: "book_img") %>
              <% end %>
            </div>
            <div class="author_name"><%= @author.name %></div>
            <div class="desciption"><%= @author.intro_author %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> 
