<div class="well">
  <div class="row">
    <div class="col-xs-8">
      <%= image_tag(book.picture, size: "200x200") %>
      <h4><%= book.name %>: <%= request_detail.quanity %></h4>
    </div>
    <div class="col-xs-4">
      <%= form_for [book, request_detail], remote: true do |f| %>
      <div class="row">
        <div class="col-xs-4">
          <%= f.number_field :quanity, value: request_detail.quanity.to_i, class: "form-control", min: 1 %>
          <%= f.hidden_field :book_id, value: book.id %>
        </div>
        <div class="col-xs-8 text-right">
          <div class="btn-group">
            <%= f.submit "Update Quantity", class: "btn btn-primary" %>
            <%= link_to "Remove", book_request_detail_path(book), { data: { confirm: "Are you sure you wish to delete the book '#{request_detail.book.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
