</head>

  <body>
    <%= render 'layouts/header'%>
    <%= render "layouts/header"%>
    <%= render "layouts/taskbar" %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>